.email-generator {
  padding-top: 80px;
}

.response-container {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #404155;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
  overflow-y: auto;
  max-height: 500px;
}

.response-container h3 {
  margin-bottom: 10px;
  color: #404155;
  font-size: 1.2em;
}

.submit-button {
  width: 100%;
  padding: 10px 0;
  background-color: #59585b;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #22222b;
}

.signup-page {
  text-align: center;
}

.welcome-message p {
  font-size: 1.2em;
  margin-bottom: 20px;
}